.App {

  text-align: center;
  font-size: 1.25em;
  color: white;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body {
  background-color: #f76c6c;
  overflow: visible;
}
.roomList {
  border-radius: 10px;
  background-clip: padding-box;
  padding-top: 10px;
  margin: 5px;
  float: left;
  width: 25%;
  height: 90vh;
  background-color: #374785;
  overflow: scroll;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.activeRoom {
  padding-bottom: 3em;
}

#roomsClickable {
  cursor: pointer;
}

.userName{
  background-color: #f76c6c;
  border-radius: 10px;
}
.activeMessageList {
  border-radius: 10px;
  float: right;
  margin: 5px;
  width: 72%;
  height: 91vh;
  overflow: auto;
  background-color: #a8d0e6;
  text-align: left;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  position: relative;
  display:flex;
  flex-direction:column-reverse;
}

.messageListText{
  padding: .5em;
  word-wrap: break-word;
  margin-bottom: 2.5em;
}
#messageBar {
  position: absolute;
  padding: 1em;
}

input[type="text"], input[type="submit"] {
  font-size: 1em;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
